<!DOCTYPE html>
<html>
<head>
  <!-- CSS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  
  <!-- JS-Public Libs -->
  <script src="//code.angularjs.org/1.5.8/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="../public/css/ng-tags-input.min.css" />
  <script src="../public/js/ng-tags-input.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.3/jasmine.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/jasmine-html.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.4.1/boot.min.js"></script>
  <script type="text/javascript" src="//code.angularjs.org/1.5.8/angular-mocks.js"></script>
  
  <!-- JS-Modules -->
  <script src="../public/js/md5.min.js"></script>
  <script src="../public/js/Main.js"></script>
  <script src="../public/js/login.js"></script>
  <script src="../public/js/UserProfile.js"></script>
  <script src="../public/js/adManagement.js"></script>
  <script src="../public/js/contactManagement.js"></script>
  <script src="../public/js/hash.js"></script> 
  
  <!-- Test Modules -->
  <script src="../tests/UserProfile_test.js"></script>
  <script src="../tests/adManagement_test.js"></script>
  <script src="../tests/contactManagement_test.js"></script>
  <script src="../tests/main_test.js"></script>
  <script src="../tests/login_test.js"></script>
  
</head>
<body ng-app="mainModule">
</body>
</html>