<!-- STREET ADDRESS 1 -->
<div class="form-group">
    <label>Street Address</label>
    <input type="text" name="streetAddress1" class="form-control" ng-model="user.address1">
</div>

<!-- STREET ADDRESS 2 -->
<div class="form-group">
    <label>Street Address Line 2</label>
    <input type="text" name="streetAddress2" class="form-control" ng-model="user.address2">
</div>

<!-- CITY-->
<div class="form-group">
    <label>City</label>
    <input type="text" name="city" class="form-control" ng-model="user.city">
</div>

<!-- STATE -->
<div class="form-group">
    <label>State</label>
    <input type="text" name="state" class="form-control" ng-model="user.state">
</div>

<!-- ZIP -->
<div class="form-group">
    <label>ZIP Code</label>
    <input type="number" name="state" class="form-control" ng-model="user.zip">
</div>

<!-- PHONE -->
<div class="form-group">
    <label>Phone</label>
    <input type="text" name="phone" class="form-control" ng-model="user.phone1">
</div>

<!-- CONTINUE FORM -->
<div class="container">
  <div class="form-group row">
    <div class="col-sm-6">
        <a ui-sref="userProfileForm.account" class="btn btn-info">
        Back
        </a>
        <a ui-sref="userProfileForm.payments" class="btn btn-info">
        Continue
        </a>
    </div>
  </div>
  
</div>
